Modernize Zope's cookie support?

There is a new (from 2011) [International cookie stanard -- RFC6265](https://tools.ietf.org/html/rfc6265) which obsoletes all former international cookie standards (i.e. RFC2109 and RFC2965). The most important change is that "..." no longer quotes its content; especially a `;` contained in a quoted string is still treated as parameter separator and will highly likely be wrongly interpreted.

The good thing: the current cookie handling allows an application to create RFC6265 compatible cookies if it either has only elementary cookie requirements or detailed knowledge about the respective standards (e.g. it knows that cookie attribute values must not contain plain `;`). Thus, there is no pressing need to change something.

On the other hand, it does not help an application with non elementary cookie functionality requirements and it lets errors easily slip in. For example, it invents its own names for cookie attributes (e.g. `http_only` for `HTTPOnly`, `max_age` for `Max-Age`) and silently ignores any cookie attribute it does not know. It delegates the standards' requirements e.g. related to `Expires` or `Comment` entirely to the application -- and it requires quite some knowledge to provide
a valid date for `Expires`. Thus, there is a large potential for improvement.

I propose to modernize the cookie support once Python 2 is no longer supported (i.e. for Zope 5) (to avoid the complexitiies introduced by an unknown encoding of `str` values) including:
 - support passing a `datetime` (maybe `DateTime`, too) as value for `Expires`; the proper representation is automatically computed
 - support passing an object as value for `Path`; the proper string value is automatically computed from the objects `getPhysicalPath` and the current request
 - support all standard attribute names - besides those invented by Zope
 - transparently quote `;` found in cookie attribute values (via RFC2047 quoting)
 - raise exceptions for unknown cookie attributes
 - maybe provide a registry to register new cookie attributes (not yet directly supported by Zope)

I like the proposal. Maybe there's even suitable WSGI middleware?

Jens Vagelpohl wrote at 2019-5-9 05:06 -0700:
>I like the proposal. Maybe there's even suitable WSGI middleware?

Maybe, I am new to WSGI.

In my proposal, there are some aspects which might not be directly supported
by a general WSGI middleware:

 * supporting the Zope specific type `DateTime` (for the `Expires`
   cookie attribute)

 * deriving the value for the `Path` cookie attribute from
   a Zope object (and potentially the current request -
   for virtual hosting support)

Other aspects, e.g. proper quoting, validity check for `Domain`, etc,
would definitely fit well for a WSGI middleware.


I did a quick look and that's not suitable for WSGI middleware. A PR for an implementation of your proposal is welcome.

Fixed by #1010 resp. #1011.