ZMI-add does not recognize absolute urls

The ZMI add modal dialogue does not recognize absolute urls in the form action and puts the base url before them.

I observe this behaviour with Plone 5.2a1 (which embeds Zope 4.0b8): creating a Plone site opens the dialogue via `http://localhost:8180/manage_addProduct/CMFPlone/zmi_constructor?zmi_dialog=modal`; this redirects to `http://localhost:8180/@@plone-addsite?site_id=Plone`; this returns a form with action `http://localhost:8180/@@plone-addsite?site_id=Plone`; some JS-magic transforms this into `http://localhost:8180/manage_addProduct/CMFPlone/http://localhost:8180/@@plone-addsite` rather then letting the action as it is.



@drfho Could you add a check in the `addItem` function in `zmi_base.js` that checks if the `url_action` variable contains a fully-formed URL?

I'm thinking the best behavior would be to leave the modal and go directly to the passed-in `url_action`.

HI @dataflake, i added a corresponding pull request: https://github.com/zopefoundation/Zope/commit/e8130c34a7c6207d06545eb073569071bb30762e

@d-maurer Dieter could you please check with the changes in the pull request and let me know? I don't have any Plone sandbox here to test.

The PR does not seem to fix the issue. The URL I end up in is http://localhost:8080/manage_addProduct/CMFPlone/http://localhost:8080/@@plone-addsite

It is a bad idea to use a popup for `@@plone-addsite` because UX suffers and the javascript in it (to guess the local timezone) does not work. https://github.com/plone/Products.CMFPlone/pull/2727 adresses the issue differently. 

Hello @pbauer, @d-maurer ,
I revised the JS function to avoid modal dialogs for Plone:
https://github.com/zopefoundation/Zope/pull/501/commits/1e53b03105cba82b63750274b70dbef722c631c6

@dataflake Contrary to my (/our?) expectation, the manage_addProduct-urls of Plone objects are generated just like all the others. So the  the former approch via absolute urls actually does not work. I removed it again.

Note: Unfortunately I did not have a Zope4/Plone installation, nor found suitable installation hints. So  I installed Products.CMFPlone via pip in iterations, discovering that all imports of the **webdav** module provoke a crash while zope starts. I systematically had to extend the already as conditional marked webdav imports to avoid these crashes. Maybe somone can interprete this and confirm that a "normal" Plone installation does not need such hacks.

Exp: Zope\src\OFS\Application.py LINE 44
```
if bbb.HAS_ZSERVER:
+   try:
        from webdav.NullResource import NullResource
+   except:
+       NullResource = bbb.NullResource
else:
    NullResource = bbb.NullResource
```

drfho wrote at 2019-2-14 13:47 -0800:
> ...
>@dataflake Contrary to my (/our?) expectation, the manage_addProduct-urls of Plone objects are generated just like all the others. So the  the former approch via absolute urls actually does not work. I removed it again.

Independent of the "modal/non modal" question is it wrong
to prepend the base url before an absolute url.
It is primarily this I would like to get fixed.

>Note: Unfortunately I did not have a Zope4/Plone installation, nor found suitable installation hints.

I created my Plone environment following "https://docs.plone.org/develop/coredev/docs/intro.html#setting-up-your-development-environment" --
using "master" instead of the 5.1 branch.
After the instance is created, it can be started with "bin/instance fg".
To get local Zope modules, you would use different "version pin"s
in the "buildout.cfg" and potentially extend the "buildout"
"develop" definition.

I am using the following structure:
```
plone5.2/
  buildout.cfg # my local buildout
  buildout/ # the "plone/buildout.coredev" git clone
```

with my "buildout.cfg" containing:

```
[buildout]
extends = buildout/buildout.cfg

develop +=
  /home/dieter/tmp/five.formlib

[versions]
five.formlib = 2.1.dev0
```


@d-maurer 
okay, my misunderstanding: the absolute URL can occur in the action-attr of the inserting form (not the addItem-form in the navbar). Now I added the isURL() check avoiding aggregating the form-action attribute if it contains already an absolute URL:
https://github.com/zopefoundation/Zope/pull/501/commits/8d80e2697a14d2d04eb4466eec78c8ef97d5ca5a

Thanks for plone install hint.


drfho wrote at 2019-2-14 17:03 -0800:
>@d-maurer
>okay, my misunderstanding: the absolute URL can occur in the action-attr of the inserting form (not the addItem-form in the navbar). Now I added the isURL() check avoiding aggregating the form-action attribute if it contains already an absolute URL:
>https://github.com/zopefoundation/Zope/pull/501/commits/8d80e2697a14d2d04eb4466eec78c8ef97d5ca5a

@drfho
Thank you! I will check whether this solves my Plone problem (likely it will).

However, it may take some time. I currently face another
"ZMI-add" problem which I would like to understand before I do
other things: interface based meta type registrations seem not to be shown
in the "ZMI-add list" even though "filtered_meta_types" produce them
correctly. I will come back once I understand what happens.


@drfho the branch issue_490 fixes the issue for me. Thanks.

drfho wrote at 2019-2-14 17:03 -0800:
>@d-maurer
>okay, my misunderstanding: the absolute URL can occur in the action-attr of the inserting form (not the addItem-form in the navbar). Now I added the isURL() check avoiding aggregating the form-action attribute if it contains already an absolute URL:
>https://github.com/zopefoundation/Zope/pull/501/commits/8d80e2697a14d2d04eb4466eec78c8ef97d5ca5a

I do not think, the "isURL" function is already correct.

In my local environment, I am using urls of the form "http://lsdm:8080/...".
According to RFC 3986 ("https://tools.ietf.org/html/rfc3986"),
they are perfect absolute urls but the "isUrl" function does not recognize
them.

Appendix B ("https://tools.ietf.org/html/rfc3986#appendix-B")
presents a (POSIX!) regular expression able to parse valid URI references
into their parts and especially allow to determine whether they
are (absolute) URIs or relative URI references.


Ideally, I would prefer to let the browser handle the relative URI
reference resolution (i.e. take the URI references as they are without
any processing): if the browser resolves to relative URIs with respect
to the base url of the request which return the URI reference, this
would give the best result. However, I recognize that in your
overlay/modal setup, the browser might no longer have the correct base url
and it must be provided by the JS code.

In your case, I think it would be sufficient that your "isURL"
function is able to distinguish an URI from an URI reference
(and return "true" for an URI; "false" for a reference).

URI is defined in "https://tools.ietf.org/html/rfc3986#section-3".
Especially, it must start with "<scheme>:". According to section
3.1, "<schema>" can contain letters, digits, "+", "-" and ".".
I would define your "isURL" function based on these properties.


@d-maurer 
thank you, every correction/checkin is very welcome.
you are rigtht,  instead 'localhost' something like '.*?' would be more adequate!?

TEST
`/^(?:\w+:)?\/\/([^\s\.]+\.\S{2}|.*?[\:?\d]*)\S*$/.test('myscheme://lsdm:8080/mysite/@@plone')`
==> true

Ref:
https://github.com/zopefoundation/Zope/pull/501/files#diff-a2c5c94dd7e2821eda76f068fc4d4157R7

@d-maurer Could you test the latest state of the `issue_490` branch and let me know is that works for you?

@pbauer has already checked that the change works for Plone. I have checked that it works (for Plone) also in my test scenario (with an url of the form `//lsdm:8080`).

Nevertheless, I have two (small) reservations:
1. when I understand the JS regular expression used in `isURL` correctly, then it is functionally equivalent to `^(?:\w+:)?\/\/\S*$`, i.e. the re could be significantly simplified. The reason for this: the right hand of the `|` can match the empty string. @drfho I suggest to verify whether the simplification is really possible.
2. [RFC 3986 section 5.2.2](https://tools.ietf.org/html/rfc3986#section-5.2.2) defines how URI references are transformed into URIs. In particular, for an "absolute path" URI reference, it specifies to use this path as path of the resulting URI and do not prepend the base URI's path. The `isURL` function classifies such absolute path URI references as non urls - and therefore, the base URI is likely prepended. This would not be conformant to the standard - but, likely, it is not of practical importance (because absolute URI references are rarely used).

HI @d-maurer 
you are right, the former regexp was derived from a variant which assumes 'localhost' vs a valid domain name. Your reduced regexp should work practically, al teast my user tests were successful. 
@dataflake 
I changed the proposal in pull request #501 
https://github.com/zopefoundation/Zope/pull/501/commits/a607694c53861447a56151e68ab31f11a7d5b463
